.leftbox{
    width: 70%;
    float: left;
    padding: 10px;
    text-align: justify;
}

.indexlist{
    list-style-type: square;
    padding-left: 40px;
}

.blanklist{
    list-style-type: none;
    padding-left: 20px;
    line-height: 1.5;
}

.spacedlist{
    list-style-type: none;
    padding-left: 0;
    line-height: normal;
}

.spacedlist li{
    margin-bottom: 10px;
}

.rightbox{
    width: 25%;
    float: right;
    padding: 10px;
    text-align: justify;
}

.rightbox-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

body{
    margin-left: 40px;
    margin-top: 20px;
    background-color:#e0ffff;
    font-family: Arial, sans-serif;
}

h1{
    color: #000000;
    background-color: #59a;
    padding: 12px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    text-decoration: underline;
}

a{
    width: fit-content;
    display: block;
    background-color: #59a;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 10px;
    padding: 8px;
}

.volver-link{
    width: 40%;
    float: right;
    margin-top: 30px;
}

a:hover{
    background-color:#800;
}

a:active{
    background-color:#000;
}

.flecha-izq-volver{
    width: 10px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 2px;
}

.flecha-derecha{
    width: 10px;
    height: auto;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 2px;
    rotate: 180deg;
}